<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>
    Super Poodle Store Representatives would love to help you<br>
    choose a destination or answer any questions you may have.
  </p>
  <address>
    Super Poodle Store HQ
    <p>
      1212 Test Address Avenue<br>
      Testington, OR 97233
    </p>
  </address>
</div>